@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.flex-center {
    @apply flex items-center justify-center;
}
.flex-between {
    @apply flex justify-between items-center;
}
.custom-btn {
    @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
.icons-x-small {
    @apply h-[20px] w-[20px];
}
.icons-small {
    @apply h-[26px] w-[26px];
}
.icons-medium {
    @apply h-[36px] w-[36px];
}
.icons-large {
    @apply h-[48px] w-[48px];
}
.list-nav {
    @apply border-l text-white lg:px-8 px-6 text-[12px] md:text-[18px] font-semibold;
}
.side-nav__items {
    @apply bg-secondary-500 border-b border-white h-[62.1px] flex items-center justify-between sm:px-8 px-4;
}
.side-nav__p {
    @apply flex items-center text-white text-[18px] sm:w-fit w-[90%] mr-8 -mt-2 border-r sm:border-none;
}
.vertical-nav {
    @apply border-b border-white h-[50px] flex items-center justify-start text-white text-[18px] font-semibold;
}
.input {
    @apply text-[18px] mx-2 px-2 bg-gray-50 w-[90%] h-[40px] outline-none;
}
.input_container {
    @apply h-[55px] mb-4 flex items-center bg-gray-50 rounded-[5px];
}
.input_container:focus {
    @apply border-2 border-primary;
}
.icons-bg {
    @apply bg-primary-100 p-4 rounded-[50%] mr-4;
}
.offers-box {
    @apply max-lg:w-[100%] w-[50%] flex justify-center items-center max-sm:flex-col gap-4;
}
.offers {
    @apply flex items-center justify-center bg-secondary-100 w-[50%] max-sm:w-[90%] h-[140px] rounded-2xl px-2;
}
.category-bg {
    @apply bg-secondary-100 p-4 rounded-[50%] mr-4 hover:bg-secondary-500 w-[200px] h-[190px] max-sm:w-[120px] max-sm:h-[110px];
}
.category-bg-v {
    @apply bg-secondary-100 mx-[2px] rounded-[10px] hover:bg-secondary-500 w-[200px] h-[190px] max-sm:w-[120px] max-sm:h-[110px];
}
.col-flex {
    @apply flex flex-col items-center justify-center;
}
.col-flex-v {
    @apply flex flex-col items-start justify-center;
}
.row-flex {
    @apply flex items-center justify-center;
}
.input_2 {
    @apply text-[18px] px-4 bg-gray-50 w-[100%] h-[55px] outline-none rounded mb-4;
}
.stats {
    @apply text-[14px] lg:text-[18px] text-[#555555] flex items-center -mt-[6px];
}
.stats > span {
    @apply font-bold text-[18px] md:text-[22px] px-2 text-primary;
}
.store_nav {
    @apply bg-secondary-100 border-b border-white py-6 px-4 text-[16px];
}
.store_nav > span {
    @apply bg-primary p-[4px] ml-[3px] text-[14px] rounded text-white font-bold;
}